@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 10%;
    background-color:#f0f0f0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 6%;
    z-index: 10;  
}

header img{
    width: 150px;
}

header a{
    text-decoration: none;
    font-size: 16px;
    margin-left: 16px;
    position: relative;
    font-weight: 500;
    transition: 1s;
    color: rgb(60, 60, 180);
}

header a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    left: 0;
    bottom: -3px;
    background-color: rgb(60, 60, 180);
    transition: 1s;
    border-radius: 5px;
    
}

header a:hover{
    color: rgb(248, 28, 65);
}

header a:hover::after{
    width: 100%;
    background-color: rgb(248, 28, 65);
}

.section1{
    width: 100%;
    height: 100vh;
    padding-top: 4.9%;
    padding-left: 6%;
    padding-right: 6%;
    background: url(img/6514691.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 91%;
    background-color: rgba(0, 0, 0, 0.4);
}

.section1-content{
    width: 50%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section1-content h1{
    font-size: 51px;
    color: #fff;
    text-align:left;
}

.section1-content span{
    color: rgb(60, 60, 180);
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #fff; /* cor da borda */
}

.section1-carrossel{
    width: 50%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
}

.carrossel-img{
    width: 100%;
    height: 75%;
    border: 2px solid #fff;
    background: url(img/alunos-aprendendo-na-escola-em-sua-sala-de-aula.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 5px;
    animation: anima 2s ease-in-out infinite alternate;
}

@keyframes anima {
    to{
        transform: translateY(25px);
    }
}

.section2{
    width: 100%;
    height: 90vh;
    background-color: #fff;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.section2 h1{
    color: rgb(248, 28, 65);
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;

}

.section2-content{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.content-info{
    width: 24%;
    height: 95%; 
    box-shadow: 1px 1px 8px gray;
    border-radius: 9px;
}

.content-info-img{
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.content-info-img img{
    width: auto;
    height: 100%; 
}

.content-info-caption{
    width: 100%;
    height: 30%;
    background-color: rgb(248, 28, 65);
    color: #fff;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.content-info-caption h3{
    margin-bottom: 10px;
    text-align: center;
    line-height: 18px;
}

.content-info-caption p{
    text-align: justify;
    font-size: 14px;
    line-height: 17px;
}

.section3{
    width: 100%;
    height: 70vh;
    background-color: rgb(60, 60, 180);
    display: flex;
    padding: 3% 6%;
}

.section3-content{
    width: 50%;
    height: 100%;
}

.section3-content h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

.section3-content p{
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
}

.section3-img{
    width: 50%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

.section3-img img{
    height: auto;
    width: 100%;
}

.section4{
    width: 100%;
    height: 90vh;
    background-color: rgb(194, 240, 255);
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.section4 h1{
    font-size: 50px;
    color: rgb(0, 191, 255);
    margin-bottom: 20px;
}

.section4-noticias1{
    width: 100%;
    height: 40%;
    display: flex;
    margin-bottom: 15px;

}

.section4-noticias1 .noticia{
    width: 50%;
    height: 100%;
    display: flex;
    margin-right: 10px;   
}

.noticia{
    width: 50%;
}

.noticia .noticia-img{
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 10px;
}

.noticia .noticia-img img{
    width: 100%;
    height: 100%
}

.noticia-text{
    width: 50%;
    height: 100%;
    color: rgb(0, 191, 255);
}

.noticia-text span{
    font-size: 23px;
    font-weight: 500;
}

.noticia-text p{
    margin-bottom: 15px;
    font-size: 14px;
}

.noticia-text button{
    padding: 8px 9px;
    color: #fff;
    background-color: rgb(248, 28, 65);
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.noticia-text button:hover{
    opacity: 0.9;
}

.section5{
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 95, 121);
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.section5 h1{
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
}

.section5 p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

.section5-galeria{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.section5-img{
    border: 2px solid #fff;
    overflow: hidden;
    width: 24%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 6px;
}

.section5-img img{
    width: 100%;
    height: 100%;
}

.section6{
    width: 100%;
    height: 100vh;
    padding: 1% 6%;
    background: url(img/menina-desenhando-em-seu-caderno.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section6::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.section6 h1{
    color: #fff;
    font-size: 40px;
    z-index: 1;
    text-align: center;
}

.section6-calendario{
    width: 100%;
    height: 50%;
    z-index: 1;
    display: flex;
}

.calendario-content{
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #fff;
}

.calendario-content h2{
    color: #fff;
    margin-bottom: 16px;
    font-size: 20px;
}

.calendario-content p{
    font-size: 13px;
    margin-bottom: 5px;
    text-align: left;
}

.section7{
    width: 100%;
    height: 80vh;
    padding: 2% 6%;
    display: flex;
}

.section7-form{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 28, 65);
    border-radius: 6px;
    box-shadow: 1px 1px 8px gray;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-form{
    width: 50%;
    height: 100%;
    color: #fff;
}

.form-form h1{
    margin-bottom: 15px;
    font-size: 40px;
}

.form-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-form form input{
    padding: 5px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.form-form p{
    margin-bottom: 6px;
}

.form-form form input[type="submit"]{
    background-color: lightgreen;
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid #fff;
}

.form-form form input[type="submit"]:active{
    background-color:green;
}

.form-form form textarea{
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-form input::placeholder, textarea::placeholder{
    margin-left: 5px;
    font-size: 16px;
    color:gray;
}

footer{
    width: 100%;
    height: 50vh;
    background-color: rgb(15, 15, 151);
    padding: 2% 6%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.footer-info{
    width: 24.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-info img{
    width: 50%;
}
.footer-info span{
    font-size: 18px;
    font-weight: 600;
}

.footer-info a{
    text-decoration: none;
    color: #fff;
}

.footer-info .social-media{
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-info .social-media ion-icon{
    color: #fff;
    font-size: 35px;
    text-align: center;
    margin-right: 8px;
}

.footer-info iframe{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.vixe{
    background-color: rgb(15, 15, 151);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 10%;
    font-size: 14px;
    font-weight: 300;
}

.dev{
    color: #fff;
    background-color: orange;
    border: 1px solid #fff;
    padding: 5px 10px;
    width: 40%;
    border-radius: 6px;
    font-weight: 800;
    transition: .5s;
}

.dev:hover{
    background-color: rgb(2, 107, 255);
}

#devs{
    background-color: orange;
    color: #fff;
    width: 70%;
    height: 25%;
    border-radius: 30px;
    border: 2px solid #fff;
    z-index: 5;
    position: fixed;
    top: 30%;
    left: 15%;
    display: none;
    place-items: center;
    box-shadow: 2px 2px 30px #fff;
}



@media (max-width:412px) {
    .section1-carrossel{
        display: none;
    }

    .section1-content{
        width: 100%;
        padding: 0;
    }

    .section1-content h1{
        font-size: 50px;
    }

    .section1{
        background: url(img/alunos-aprendendo-na-escola-em-sua-sala-de-aula.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .section2{
        width: 100%;
        height: 200vh;
    }

    .section2-content{
        flex-direction: column;
    }

    .content-info{
        width: 100%;
        height: 40vh;
    }

    .section3{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .section3 .section3-content{
        width: 100%;
    }

    .section3-img{
        width: 100%;
        height: auto;
    }

    .section3-img img{
        width: 100%;
        height: 100%;
    }

    .section4{
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }

    .section4-noticias1{
        display: flex;
        flex-direction: column;
        width: 400%;
        height: auto;
    }

    .noticia{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

    }

    .noticia-img{
        border: 2px solid #fff;
    }

    .noticia-text p{
        text-align: justify;
    }
  
    .section5{
        width: 100%;
        height: auto;
    }

    .section5-galeria{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section5-img{
        width: 100%;
        margin-bottom: 10px;
    }

    .section6{
        height: auto;
    }

    .section6-calendario{
        flex-direction: column;
    }

    .calendario-content{
        border-bottom: 1px solid #fff;
    }

    .section7{
        height: auto;
    }

    .section7-form{
        padding: 3%;
        height: auto;

    }

    .form-form{
        width: 100%;
    }

    footer{
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .footer-info{
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-info img{
        display: none;
    }

    header nav a {
        display: none;
    }

}